*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: 0.5s;
    
}
